.baecker-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
}

input[type=submit] {
    width: 60%;
    padding: 1.2em 0;
    border-radius: 6px;
    border:none;
    background-color: #4CAF50;
    color: white;
    font-size: 1.3em;
}

.bestelltepizza {
    border: solid;
    background-color: #cce3e6;
    width: 60%;
    height: 10em;
    display: flex;
    margin: 0.5em 0;
}

@media screen and (max-width: 767px ) {
    .bestelltepizza {
        width: 90%;
    }

    input[type=submit] {
        width: 90%;
    }
}

.bestelltepizza img {
    width: 25%;
    order: 1;
}

.pizzadata {
    width: 75%;
    order: 2;
    display: flex;
    flex-direction: column;
}

.pizzadata h3 {
    order: 1;
    text-align: center;
}

.pizzadata label {
    font-size: 1.2em;
    order: 2;
    text-align: center;
}

.pizzadata p {
    order: 3;
    text-align: center;
}