.kunden-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
}

.bestelltepizza {
    border: solid;
    background-color: #cce3e6;
    width: 60%;
    height: 10em;
    display: flex;
    margin: 0.5em 0;
}

.done {
    background-color: lightgreen !important;
}

@media screen and (max-width: 767px ) {
    .bestelltepizza {
        width: 90%;
    }
}

.bestelltepizza img {
    width: 25%;
    order: 1;
}

.customerdata {
    width: 75%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bestelltepizza h3 {
    order: 1;
    text-align: center;

}

.bestelltepizza p {
    font-size: 1.2em;
    order: 2;
    text-align: center;
}