
body {
  font-size: 62.5%; <!-- weil 16 * 62.5% = 10 --> 1.6em = 16px -->
  margin: 0;
  padding: 0;
  background-image: url("https://images6.alphacoders.com/412/412086.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

main {
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
  padding: 2em;
  margin: 0 auto;
  width: 900px;
  height: 1200px;
  background-color: white;
  opacity: 0.9;
}


nav {
  background-color: #efca97;
  font-family: serif;
  font-size: 30px;
  padding: 5px;
  border: 5px solid #d19b30;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
display: inline-block;

margin: 0.5px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;

}

nav a:hover {
  color: #000;
}

h1 {
  text-align: center;
}

.kundenstatus input {
  display: inline-block;
}

.Speisekarte li{
 margin: 0;
 padding: 60px 120px 60px 120px;
 margin-bottom: 10px;
 list-style: none;
 background-repeat: no-repeat;
 background-position: left center;
 background-size: 200px;
}

#margherita {
  	background-image: url("http://www.eccopizzaepasta.com/images/pizza_new_ok.png?crc=4173385462");
}

#salami {
  background-image: url("https://d1d8i24om29pt.cloudfront.net/static/desktop/products/pizza-salami.png");
}

#peperoni {
  background-image: url("https://dlct0dt1hx57m.cloudfront.net/static/desktop/products/pizza-diabolo.png");
}

#speziale {
  background-image: url("https://d1d8i24om29pt.cloudfront.net/static/desktop/products/pizza-spezial.png");
}

iframe {
  margin-top: 10px;
}

.Speisekarte label {
  font-size: 20px;
  margin: 20px;
}
