body {
  font-size: 62.5%; <!-- weil 16 * 62.5% = 10 --> 1.6em = 16px -->
  margin: 0;
  padding: 0;
  background-image: url("https://images6.alphacoders.com/412/412086.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

main {
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
  padding: 2em;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
  height: auto;
  background-color: white;
  opacity: 0.9;
}

@media screen and (max-width: 900px) {
  main {
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  text-align: center;
}

.kundenstatus input {
  display: inline-block;
}

.Speisekarte li{
 margin: 0;
 padding: 60px 120px 60px 120px;
 margin-bottom: 10px;
 list-style: none;
 background-repeat: no-repeat;
 background-position: left center;
 background-size: 200px;
}

#margherita {
  	background-image: url("http://www.eccopizzaepasta.com/images/pizza_new_ok.png?crc=4173385462");
}

#salami {
  background-image: url("https://d1d8i24om29pt.cloudfront.net/static/desktop/products/pizza-salami.png");
}

#peperoni {
  background-image: url("https://dlct0dt1hx57m.cloudfront.net/static/desktop/products/pizza-diabolo.png");
}

#speziale {
  background-image: url("https://d1d8i24om29pt.cloudfront.net/static/desktop/products/pizza-spezial.png");
}

iframe {
  margin-top: 10px;
}

.Speisekarte label {
  font-size: 20px;
  margin: 20px;
}

.Speisekarte li:hover {
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li  a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

input[type=submit] {
  padding: 10px;
margin-top: 2em;
margin-left: 2px;
margin-right: 2px;
border: none;
cursor: pointer;
}
