body {
  font-size: 62.5%; <!-- weil 16 * 62.5% = 10 --> 1.6em = 16px -->
  margin: 0;
  padding: 0;
  background-image: url("https://images6.alphacoders.com/412/412086.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
  padding: 2em;
  margin-left: 200px;
  margin-right: 200px;
  width: auto;
  height: auto;
  background-color: white;
  opacity: 0.9;
}


nav li {

}


.kundenstatus input {
  display: inline-block;
}


.Speisekarte li{

 margin: 0;
 padding: none;
 margin-bottom: 10px;
 list-style: none;
}

.Speisekarte li img {
  width: 200px;
  height: auto;
}


iframe {
  margin-top: 10px;
}

.Speisekarte label {
  font-size: 20px;
  margin: 20px;
}

.Speisekarte li img:hover {
  cursor: pointer;
}


.navbar  {
  margin-bottom: 2rem;
}


.btn {
  margin-top: 5px;
}

#wahrenkorb{
  resize: none;
  font-size: 20px;
  font-family: 'Bree Serif', serif;
  font-style: italic;
}

input[type=submit] {
  padding: 10px;
margin-top: 2em;
margin-left: 2px;
margin-right: 2px;
border: none;
cursor: pointer;
}

textarea {
 width: 100%;
}


@media (max-width: 992px) {
  main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;

  }
.centerpos {
  padding-left: 10px;
  padding-right: 10px;
}

}

@media (min-width: 992px) {

}
